/* Write your CSS here */
.A {
  width: 40%;
  align-self: flex-end;
  padding: 10px;
  color: #616e7c;
}
.B {
  color: #171f46;
}

.butt1 {
  background-color: #0b69ff;
  color: #ffffff;
  padding: 15px;
  margin: auto;
}
.msg {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup1 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
}
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}
.msg1 {
  color: green;
  font-size: 25px;
}
.radio-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
